#!/bin/bash
SERVER_HOST=""       # Replace with your NAS IP or hostname
SERVER_USER=""       # Replace with your NAS username
BEETS_USER=""        # Replace with your Beets username
BEETS_CONTAINER=""   # Replace with your Beets Docker container name
DOCKER_PATH=""       # Replace with your Docker path (`which docker` in server)
