#!/bin/bash
# Author: laurent-lao
# Definition of aliases for bash/zsh

# Applications aliases
alias hx=helix
alias zed=zeditor
alias timeshift-wayland="sudo -E timeshift-launcher"
alias qutebrowser="sh ~/.config/bash-zsh/open_url_in_instance.sh"

# Git aliases
alias gg="git"
alias ggs="git status"
alias gga="git add"
alias ggc="EDITOR=helix git commit"
alias ggcm="git commit -m"
alias ggp="git push"
alias ggpl="git pull"
alias ggb="git branch"
alias ggco="git checkout"

# Music aliases
# Play random album
alias mpcp="mpc clear; mpc list album | shuf -n 1 | xargs -I{} mpc findadd album \"{}\"; mpc play"
# Play random 100 songs
alias mpcpp="mpc clear; mpc listall | shuf -n 100 | mpc add; mpc play"
alias plp="playerctl play-pause"

# Command aliases
alias ls="ls --color=auto"
alias ll="ls -alF --color=auto"
alias llr="ls -alRF --color=auto"
alias grep="grep --color=auto"

# Fuzzy finder
alias fuzzy="sk" # define fzf or sk
alias hxf='file=$(fuzzy); [ -n "$file" ] && helix "$file"' # Open in Helix if fuzzy is not empty
alias nvimf='file=$(fuzzy); [ -n "$file" ] && nvim "$file"' # Open in Helix if fuzzy is not empty
alias cdf='cd "$(fuzzy)"'
